.page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 100%;
}

.accordionContainer {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 809.98px) {
  .accordionContainer {
    padding: 0 24px;
  }
}
