.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-family: "Geist", "Geist Placeholder", sans-serif;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1em;
  color: #000;
  margin: 0;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}

@media (max-width: 1439.98px) and (min-width: 810px) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: 809.98px) {
  .section {
    padding: 96px 0 0;
  }

  .container {
    padding: 0 24px;
    gap: 24px;
  }

  .title {
    font-size: 40px;
  }

  .grid {
    flex-direction: column;
  }
}
